@model AquaFarmApp.Models.Area

@{
    ViewData["Title"] = "Tạo Area";
}

<h2>Nhập thông tin khu vực</h2>

<form asp-controller="Area" asp-action="Create" method="post">
    <input type="hidden" asp-for="FarmId" />

    <div>
        <label asp-for="AreaName"></label>
        <input asp-for="AreaName" />
        <span asp-validation-for="AreaName"></span>
    </div>
    <div>
        <label asp-for="AreaStatus"></label>
        <input asp-for="AreaStatus" />
        <span asp-validation-for="AreaStatus"></span>
    </div>
    <div>
        <label asp-for="AreaSize"></label>
        <input asp-for="AreaSize" />
        <span asp-validation-for="AreaSize"></span>
    </div>
    <div>
        <label asp-for="TypeOfWater"></label>
        <input asp-for="TypeOfWater" />
        <span asp-validation-for="TypeOfWater"></span>
    </div>

    <button type="submit">Hoàn tất và quay về Menu</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
