@{
    ViewData["Title"] = "Tìm kiếm Area";
}
<h2>Tìm Area</h2>
<form asp-action="Find" method="post">
    <label>Trạng thái:</label>
    <select name="areaStatus">
        <option value="">--All--</option>
        @foreach (var s in (List<string>)ViewBag.AreaStatusList)
        {
            <option value="@s">@s</option>
        }
    </select>

    <label>Loại nước:</label>
    <select name="typeOfWater">
        <option value="">--All--</option>
        @foreach (var t in (List<string>)ViewBag.TypeOfWaterList)
        {
            <option value="@t">@t</option>
        }
    </select>

    <button type="submit">Tìm</button>
</form>