@model List<AquaFarmApp.Models.Farm>
<h2>Danh sách Farm</h2>
<ul>
    @foreach (var farm in Model)
    {
        <li>
            <a asp-controller="Farm" asp-action="Details" asp-route-id="@farm.FarmId" >@farm.FarmName</a>
        </li>
    }
</ul>